@charset "UTF-8";

@font-face {
	font-family: neue;
	src: url('../fonts/neue.woff');
}

html, body {
	background-color: white;
	font-family: System, 微软雅黑, Arial;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.tbCommon {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 1px black solid;
	column-width: 0px;
	border-collapse: collapse;
}

.tbCommon th {
	background-color: #88bbee;
	color: #000000;
	border: 1px black solid;
	line-height: 28px;
}

.tbCommon tr {
	height: 24px;
}

.tbCommon td {
	border: 1px gray solid;
	line-height: 24px;
	height: 24px;
	padding: 0px;
	margin: 0px;
}

.tbCommon tbody tr:hover {
	background-color: #ddf0ff;
}

input[type=checkbox] {
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	line-height: 28px;
	background-color: transparent;
}

.striped {
	background-color: #f9f9ff;
}

select {
	border: 0px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent;
}

select:hover {
	background: url("../images/arrow.png") no-repeat scroll right center;
}

.button {
    background-color: #3465a4;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #729fcf;
    box-shadow: 3px 5px 8px 0 rgba(0,0,0,0.24);
}

.button:active {
    background-color: #3465a4;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.24);
}

.button_img{
	padding-left: 22px;
	background-position: 3px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}
