<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!--设置数据库的连接url:jdbc:mysql://localhost/hibernate,其中localhost表示mysql服务器名称，此处为本机， 
			hibernate是数据库名 -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/param_manage_system
		</property>
		<!--连接数据库是用户名 -->
		<property name="hibernate.connection.username">root</property>
		<!--连接数据库是密码 -->
		<property name="hibernate.connection.password"></property>

		<mapping resource="com/parammgr/db/dao/Project.hbm.xml" />
	</session-factory>

</hibernate-configuration>